
  <ion-content class="auth-form over">

<ion-header>
  <ion-toolbar>
    <ion-title>HiSig</ion-title>
  </ion-toolbar>
</ion-header>
  <div  class="back">

    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <div class="logo">
            <div class="logoimg"><img src="../../assets/logo-2 1.png" alt=""></div>
          </div>

          <ion-button shape="round" color="tertiary" [routerLink]="['/login']" expand="block"  class="login-button">Entrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>

