<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <h1 class="title-h1">Inteligência Emocional</h1>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/aula1.png">
      </ion-avatar>
      <ion-label>Aula 1
        <p>Descubra a essência da gestão ágil, seu impacto atual, sua abrangência e o gestor do futuro</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/aula2.png">
      </ion-avatar>
      <ion-label>Aula 2
        <p>Explore a aplicabilidade da gestão ágil em diversas áreas, o princípio do 80/20 e metodologias como Scrum, Kanban, OKR, Design Thinking, Lean e mais</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/aula3.png">
      </ion-avatar>
      <ion-label>Aula 3
        <p>Como organizar seus projetos com gestão ágil e se tornar referência em gestão?</p>
      </ion-label>
    </ion-item>

</ion-list>

</ion-content>
