<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <h1 class="title-h1">Imersão Ágil</h1>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/gestao-agil.png">
      </ion-avatar>
      <ion-label [routerLink]="['/classroom1']">Gestão Ágil
        <p>Abordagem flexível que prioriza colaboração, adaptação e entrega contínua de valor</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/srcum.png">
      </ion-avatar>
      <ion-label [routerLink]="['/classroom2']">Scrum
        <p>Metodologia ágil com iterações, papéis definidos e reuniões estruturadas</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/trello.png">
      </ion-avatar>
      <ion-label [routerLink]="['/classroom3']">Trello
        <p>Ferramenta de gestão visual baseada no método Kanban para organizar tarefas de forma colaborativa e eficiente</p>
      </ion-label>
    </ion-item>

  <ion-item>
    <ion-avatar slot="start" class="img-container">
      <img src="../../assets/icon/inteligencia-emocional.png">
    </ion-avatar>
    <ion-label [routerLink]="['/classroom4']">Inteligência Emocional
      <p>Capacidade de reconhecer, compreender e gerenciar emoções, promovendo autodomínio e relacionamentos saudáveis</p>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
