<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Horário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <h1 class="task-title">Quadro de Horário</h1>

    <ion-label position="stacked">Nome:</ion-label>

    <ion-item class="input-title">
      <ion-input placeholder="Nome e Sobrenome"></ion-input>
    </ion-item>

    <h6>Horário do Compromisso</h6>

    <ion-item class="input-title">
      <label for="Entrada"> Entrada
        <input type="time" [(ngModel)]="entrada" name="Entrada" id="time">
      </label>
    </ion-item>

    <ion-item class="input-title">
      <label for="Entrada"> Intervalo
        <input type="time" [(ngModel)]="intervalo" name="Intervalo" id="time">
      </label>
    </ion-item>

    <ion-item class="input-title">
      <label for="Entrada"> Saída
        <input type="time" [(ngModel)]="saida" name="Saída" id="time">
      </label>
    </ion-item>

    <div class="logo">
      <h1 class="h1-logo">Observação</h1>
    </div>

    <div class="input-link">
      <textarea [(ngModel)]="observacao" name="observacao" placeholder="Exemplo: Na terça eu vou entrar 08:00 e sair de 11:00 e volto 15:00 até as 18:00."></textarea>
    </div>

    <div class="logo">
      <h1 class="h1-logo">Equipe Turno</h1>
    </div>

    <div class="form-group">
      <select [(ngModel)]="turno" name="turno" class="form-control">
        <option value="Matutina">Matutina</option>
        <option value="Vespertino" selected>Vespertino</option>
        <option value="Noturno">Noturno</option>
      </select>
    </div>

    <div class="criar-task">
      <button class="button-criar-task" (click)="createHorario()">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="25" viewBox="0 0 16 15" fill="none">
          <path d="M13.6961 13.2774V5.6592H1.92456V13.2774H13.6961ZM11.1736 0.811279H12.8552V2.1964H13.6961C14.6294 2.1964 15.3777 2.81971 15.3777 3.58152V13.2774C15.3777 14.0461 14.6294 14.6625 13.6961 14.6625H1.92456C0.991251 14.6625 0.24292 14.0392 0.24292 13.2774V3.58152C0.24292 2.81278 0.991251 2.1964 1.92456 2.1964H2.76539V0.811279H4.44703V2.1964H11.1736V0.811279ZM6.9695 6.69805H8.65114V8.77573H11.1736V10.1608H8.65114V12.2385H6.9695V10.1608H4.44703V8.77573H6.9695V6.69805Z" fill="white"/>
        </svg>
        <span>Salvar</span>
      </button>
    </div>

  </div>

    <div class="container">
      <h1 class="task-title">Quadro de Horário</h1>

        <ion-label position="stacked">Nome:</ion-label>

      <ion-item class="input-title">
        <ion-input placeholder="Nome e Sobrenome"></ion-input>
      </ion-item>

        <h6>Horário do Compromisso</h6>

        <ion-item class="input-title">
          <label for="Entrada"> Entrada
            <input type="time" name="Entrada" id="time">
          </label>
        </ion-item>

        <ion-item class="input-title">
          <label for="Entrada"> Intervalo
            <input type="time" name="Intervalo" id="time">
          </label>
        </ion-item>

        <ion-item class="input-title">
          <label for="Entrada"> Saída
            <input type="time" name="Saída" id="time">
          </label>
        </ion-item>

        <div class="logo">
            <h1 class="h1-logo">Observação</h1>
        </div>

        <div class="input-link">
          <textarea name="observacao" placeholder="Exemplo: Na terça eu vou entrar 08:00 e sair de 11:00 e volto 15:00 até as 18:00."></textarea>
        </div>

        <div class="logo">
          <h1 class="h1-logo">Equipe Turno</h1>
      </div>


			<div class="form-group">
				<select name="turno"
					class="form-control">
					<option value="Estudar">Matutina</option>
					<option value="Atividade" selected>Vespertino</option>
					<option value="Compromisso">Noturno</option>
				</select>
			</div>

          <div class="criar-task">
            <button class="button-criar-task">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="25" viewBox="0 0 16 15" fill="none">
                <path d="M13.6961 13.2774V5.6592H1.92456V13.2774H13.6961ZM11.1736 0.811279H12.8552V2.1964H13.6961C14.6294 2.1964 15.3777 2.81971 15.3777 3.58152V13.2774C15.3777 14.0461 14.6294 14.6625 13.6961 14.6625H1.92456C0.991251 14.6625 0.24292 14.0392 0.24292 13.2774V3.58152C0.24292 2.81278 0.991251 2.1964 1.92456 2.1964H2.76539V0.811279H4.44703V2.1964H11.1736V0.811279ZM6.9695 6.69805H8.65114V8.77573H11.1736V10.1608H8.65114V12.2385H6.9695V10.1608H4.44703V8.77573H6.9695V6.69805Z" fill="white"/>
                </svg>
                <span>Salvar</span>
            </button>
          </div>

      </div>




</ion-content>
