<ion-content [fullscreen]="true">

  <h1 class="title-h1">Home</h1>

  <ion-list>

    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/horario.png">
      </ion-avatar>
      <ion-label [routerLink]="['/quadro-de-horario']">Quadro de Horário
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/tarefas.png">
      </ion-avatar>
      <ion-label [routerLink]="['/horario']">Quadro de Tarefas
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/trilhas.png">
      </ion-avatar>
      <ion-label [routerLink]="['/trilhas']">Trilhas
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/testes.png">
      </ion-avatar>
      <ion-label [routerLink]="['/tests-front-back']">Testes
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
