<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <h1 class="title-h1">Testes</h1>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/test1.png">
      </ion-avatar>
      <ion-label [routerLink]="['/tests-front-end']">Front-End
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start" class="img-container">
        <img src="../../assets/icon/test2.png">
      </ion-avatar>
      <ion-label [routerLink]="['/tests-back-end']">Back-End
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </ion-label>
    </ion-item>

</ion-list>

</ion-content>
