
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

form {
  padding: 60px 50px;

  /*top:20%;*/

  -webkit-box-shadow: 0px 0px 5px .5px #858585;
  -moz-box-shadow: 0px 0px 5px .5px #8b8b8b;
  box-shadow: 0px 0px 5px .5px #8f8f8f;
}

ion-button {
  margin-top: 10px;
}

h2{
  text-align: center;
  color: #000;
  font-family: Inconsolata;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.validação {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -3px;
  padding-top: 0;
}
