<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
      <h2>Recupere sua Senha</h2>
      <p>Insira um e-mail para recuperação.</p>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-item *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)" lines="none">
        <ion-text color="danger">
          <p class="validação" *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Campo obrigatório.</p>
          <p class="validação" *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Email inválido.</p>
        </ion-text>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button color="tertiary" shape="round" type="submit" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
